# Ignore Eclipse workspace
eclipse-workspace/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python and Django files
venv/
venv
__pycache__/
db.sqlite3
*.pyc
../../../venv/

# Ignore VS Code settings (optional)
.vscode/


# Ignore local database
db.sqlite3
