{% extends "fitnessTrackerApp/base_generic.html" %}
{% block content %}
<div class="login-container text-start">
  <h2 class="mb-3 text-center" style="color: #222831;">Reset Your Password</h2>

  {% if form.errors %}
    <div class="alert alert-danger">
      <ul class="mb-0">
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_new_password1" class="form-label" style="color: #222831;">New Password</label>
      {{ form.new_password1 }}
    </div>
    <div class="mb-3">
      <label for="id_new_password2" class="form-label" style="color: #222831;">Confirm New Password</label>
      {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn btn-dark">Set New Password</button>
  </form>
</div>
{% endblock %}
